header {
	padding : 25px 0px;
	margin : 0px 0px;	
}

nav {
	padding : 10px 0px 100px;
	margin : 75px 0px;
}















/* Help Classes */
.showgrid {
	background: url("../img/12_col.gif") !important;
}